@using Abp.Authorization.Users
@using Testing.Web.Models.Common.Modals
@using Testing.Web.Models.Teams
@model EditTeamModalViewModel
@{ Layout = null; }
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditTeam")))

<form name="TeamEditForm" role="form" class="form-horizontal">
    <input type="hidden" name="Id" value="@Model.Team.Id" />
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="teamname">@L("TeamName")</label>
            <div class="col-md-9">
                <input id="teamname" type="text" class="form-control" name="Name" value="@Model.Team.Name" required maxlength="@AbpUserBase.MaxNameLength" minlength="2">
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/view-resources/Views/Teams/_EditModal.js" asp-append-version="true"></script>
