@model List<Testing.Teams.Dto.TeamDto>
@{ Layout = null; }

<h3>Teams</h3>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
</table>

<style type="text/css">
    @@media print {
       * {
           color: blue;
       }
    }
</style>